<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_INewShowService" />
        <binding name="BasicHttpBinding_IVenueRegistrationService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:54053/NewShowService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewShowService"
        contract="NewShowService.INewShowService" name="BasicHttpBinding_INewShowService" />
      <endpoint address="http://localhost:65488/VenueRegistrationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVenueRegistrationService"
        contract="RegisterLoginService.IVenueRegistrationService" name="BasicHttpBinding_IVenueRegistrationService" />
    </client>
  </system.serviceModel>
</configuration>